.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #dadce0;
  z-index: 1;
}

.gutter {
  /* Match doc gutter */
  padding: 0 6rem;
}

.menus {
  height: 3em;
  display: flex;
  align-items: center;
  max-width: calc(1024px + 8rem * 2);
  margin: 0 auto;
  gap: 1.5rem;
}

.menuTopLevel {
  cursor: pointer;
  user-select: none;
}

.saveStatus {
  margin-left: auto;
  font-size: 0.8rem;
}

.success {
  color: #98af99;
}

@media (max-width: 1024px) {
  .gutter {
    padding: 0 2rem;
  }
}

@media (max-width: 768px) {
  .gutter {
    padding: 0 0.5rem;
  }
}
