.toolbar {
  position: fixed;
  top: 3rem; /* match navmenu height */
  left: 0;
  width: 100%;

  background-color: #fff;
  border-top: 1px solid #dadce0;
  border-bottom: 1px solid #dadce0;
  z-index: 1;
}

/* Gutter and actions match navmenu */
.gutter {
  padding: 0 6rem;
}

.actions {
  height: 2em;
  display: flex;
  align-items: center;
  max-width: calc(1024px + 6rem * 2);
  margin: 0 auto;
  gap: 3rem;
}

@media (max-width: 1024px) {
  .gutter {
    padding: 0 2rem;
  }
}

@media (max-width: 768px) {
  .gutter {
    padding: 0 0.5rem;
  }
}
